In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('data/Data Entry_8LE853B-Table 1.csv')

df1['Site'] = 1

df1.shape

(47, 25)

In [3]:
df2 = pd.read_csv('data/Data Entry_8WA321-Table 1.csv')

df2['Site'] = 2

df2.shape

(37, 25)

In [4]:
df3 = pd.read_csv('data/Data Entry_8WA1221-Table 1.csv')

df3['Site'] = 3

df3.shape

(17, 25)

In [5]:
df = pd.concat([df1, df2, df3])

In [6]:
df.head()

,Location,Al,Si,P,S,K,Ca,Ti,Cr,Mn,...,Sr,Zr,Nb,Cd,Cd.1,Sn,Sn.1,Pb,Pb.1,Site
0,8LE853B_88-5-187-01_FW_40kv_11A,4333,68371,3427,1,1,2971,128474,3101,15203,...,5591,80270,3015,3358,7597,1581,1602,3427,1444,1
1,8LE853B_88-5-187-02_FW_40kv_11A,4509,79921,2144,1,1,7400,145128,5905,17946,...,7980,53726,5256,3626,8640,1166,3040,4639,1361,1
2,8LE853B_88-5-187-03_FW_40kv_11A,3257,77313,2163,1,1,3336,156075,4016,10261,...,6697,50673,4056,4130,8514,2148,2110,4943,1090,1
3,8LE853B_88-5-187-04_FW_40kv_11A,4548,66791,1830,1,1,1578,117219,4256,24173,...,4606,46664,2760,4172,9677,1996,1663,4062,1382,1
4,8LE853B_88-5-187-06_FW_40kv_11A,3087,92876,1730,1,1,24,118097,2308,24020,...,4145,89797,3329,4015,9865,1752,1327,5393,1265,1

In [7]:
df = df.set_index('Location')

In [8]:
df.to_csv('data/out.csv', index_label=False)